# Keil5环境下STM32F103忽略文件
*.bat
*.bak
*.ddk
*.edk 
*.lst 
*.lnp 
*.mpf 
*.mpj 
*.obj 
*.omf 
*.plg 
*.rpt 
*.tmp 
*.__i 
*.crf 
*.o 
*.d 
*.axf 
*.tra 
*.dep 
*.md           
JLinkLog.txt 
*.bat
Listing/
Doc/
Output/
Project/RVMDK/DebugConfig
Project/RVMDK/Listings
Project/RVMDK/Objects
Project/RVMDK/EventRecorderStub.scvd
Project/RVMDK/allCollector_STM32.uvguix.Administrator
Project/RVMDK/allCollector_STM32.uvoptx
Project/RVMDK/allCollector_STM32.uvguix.jerry
Project/RVMDK/JLinkLog.txt
User/*.txt